<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}?version=202" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/icons/css/gammabin.css') }}" />

	<!-- highlight.js -->
	<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/ocean.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script>
		hljs.initHighlightingOnLoad();
	</script>

	{% block head %}
	{% endblock %}
	<title>{% if title %}{{ title }} - {% endif %}{{ g.appname }}</title>
</head>
<body>
	<div class="page">
		<div class="navbar">
			<div class="brand">
				{{ g.appname }}
			</div>
			<div class="nav-buttons">
				<a href="/"><i class="icon-doc-new"></i></a>
				<a href="api"><i class="icon-code"></i></a>
				<a href="#"><i class="icon-info"></i></a>
				<a href="#"><i class="icon-github-text"></i></a>
			</div>
		</div>
		
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<footer class="footer">
			
		</footer>
	</div>
</body>
</html>