.index
{
    font-size: 1rem;

    position: relative;

    display: flex;

    width: 100%;
    height: 100%;
    margin: 0;

    flex-flow: row;
    flex: 1 1 auto;
}

.paste-info
{
    display: flex;

    flex-flow: column;
    flex: 0 0 auto;
}

.paste-content
{
    display: flex;

    margin: 1rem;

    flex-flow: column;
    flex: 1 1 auto;
}

.paste-area
{
    width: 100%;
    height: 100%;
    margin: 0;

    background: #2b303b;

    flex: 1 1 auto;
}

.paste-title
{
    box-sizing: border-box;
    margin: 0 .5rem;

    background: #4f5b66;
}

.paste-title,
.paste-area
{
    font-size: 1rem;

    box-sizing: border-box;
    padding: .75rem 1.5rem .75rem;

    color: #d8dee9;
    border: none;
    border-radius: .25rem;
}

.paste-title:focus,
.paste-area:focus
{
    outline: none;
}

@media screen and (max-width: 768px)
{
    .index
    {
        flex-flow: column;
    }

    .paste-info
    {
        margin: 0 .5rem;
        flex-flow: row;
    }

    .paste-title
    {
        margin: .5rem;
        flex: 1 1 auto;
    }

    .paste-content
    {
        margin: 1rem;
    }
}

@media screen and (max-width: 400px)
{
    .paste-info {
        flex-flow: column;
    }

    .paste-title {
        margin-bottom: 0;
    }
}