.index
{
    font-size: 1rem;

    position: relative;

    display: flex;

    width: 100%;
    height: 100%;
    margin: 0;

    flex-flow: row;
    flex: 1 1 auto;
}

.paste-info
{
    display: flex;

    margin: 1rem;
    margin-right: 0;

    flex-flow: column;
    flex: 0 0 auto;
}

.paste-info > *:first-child
{
    margin-top: 0;
}

.paste-content
{
    display: flex;

    margin: 1rem;

    flex-flow: column;
    flex: 1 1 auto;
}

.paste-area
{
    width: 100%;
    height: 100%;
    margin: 0;
    flex: 1 1 auto;
}

.paste-title
{
    margin: .5rem 0;
}

.paste-title
.paste-area
{
    font-size: 1rem;

    box-sizing: border-box;
    width: 100%;
    padding: .75rem 1.5rem .75rem;

    color: #d8dee9;
    border: none;
    border-radius: .25rem;
    background: #343d46;
}

.paste-title:focus,
.paste-area:focus
{
    outline: none;
}

@media screen and (max-width: 768px)
{
    .index
    {
        flex-flow: column;
    }

    .paste-info {
        margin: 1rem;
        margin-bottom: 0;
    }

    .paste-content {
        margin: 1rem;
        margin-top: 0.5rem;
    }

}