html,
body
{
    font-family: Lato;

    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

button
{
    font-family: Lato;
    font-size: 1rem;

    margin: .5rem;
    padding: .75rem 1.5rem .75rem;

    cursor: pointer;
    transition: .25s;
    text-transform: uppercase;

    color: #d8dee9;
    border: none;
    border-radius: .25rem;
    outline: none;
    background: #313942;
}

button:hover,
button:focus
{
    background: #2f3740;
}

button:active
{
    background: #2a3038;
}

.page
{
    position: relative;

    display: flex;

    width: 100%;
    height: 100%;

    color: #d8dee9;
    background: #2b303b;

    flex-flow: row;
}

div.controls
{
    display: flex;

    background: #343d46;

    flex: 0 0 auto;
    flex-flow: column;
}

div.navbar
{
    display: flex;

    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
}

div.nav-buttons
{
    display: flex;

    flex-flow: row;
    box-sizing: border-box;
    width:  100%;
    padding: 0 0 .5rem 0;
    padding-top: 0;
    justify-content: space-between;
}

.navbar a
{
    position: relative;

    display: flex;

    box-sizing: border-box;

    transition: .25s;
    padding: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    flex: 1 1 auto;

    color: #d8dee9;

    justify-content: center;
    align-items: center;
}

.navbar a:hover,
.navbar a:focus
{
    background: #313942;
}

.navbar .spacer
{
    flex: 1 1 auto;
}

.brand
{
    font-family: Lobster;
    font-size: 24px;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    padding: .5rem .75rem .75rem;

    cursor: default;
    user-select: none;
    transition: .25s ease-in-out;

    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}


.brand:hover
{
    background: #313942;
}

.content
{
    position: relative;

    display: flex;

    width: 100%;

    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.content .container
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 75rem;
    height: 100%;
    padding: .5rem 0;

    background: #2b303b;

    flex: 1 1 auto;
}

@media screen and (max-width: 768px)
{

    .page
    {
        flex-flow: column;
    }

    .navbar a
    {
        font-size: 16px;

        padding: .25rem;
    }
}
